@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@600;800&family=IBM+Plex+Mono:wght@400;500&display=swap');

h1 {
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 110px;
    letter-spacing: 8px;
    text-transform: uppercase;
    line-height: 1;
    text-shadow: 6px 6px 0px #000;
}

.goh {
    color: #003c12;
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #70aa7a;
    text-align: center;
    color: #111;
}

.front {
    background-color: #608300;
    border-bottom: 8px solid #111;
}

h4 {
    color:#003c12;
}

.navbar {
    background-color: #70aa7a;
    padding: 12px 0;
    text-align: center;
}

.navbar a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.5px;
    text-transform: uppercase;

    color: #455b55;
    text-decoration: none;

    margin: 0 25px;
    padding: 6px 0;
}

.navbar a::after {
    width: 0%;
    height: 3px;
    left: 0;
    bottom: -6px;
    background-color: rgb(240, 220, 200);
    font-size:116%;
}

.navbar a:hover {
    color: white;
    font-size:112%
}

.navbar a:hover::after {
    width: 100%;
}

.shop {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
    background-color: #2f3d35;
}

.product {
    background-color: #4c6855;
    width: 220px;
    border: 1px solid #22461f;
    padding: 25px;
    text-align: center;
    transition: 0.3s ease;
}

h3 {
    color:#d9ffc9;
    size:32px;
    background-color: #608300;
    padding:12px;
    border-bottom: 8px solid #111;
}

.product:hover {
    transform: translateY(-6px);
    border-color: #1c2b22;
}

.product img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    margin-bottom: 20px;
}

.product h2 {
    font-size: 16px;
    letter-spacing: 2px;
    margin: 10px 0;
}

.price {
    font-size: 14px;
    margin-bottom: 20px;
}

button {
    background-color: #1c2b22;
    color: #f4f1ea;
    border: none;
    padding: 10px 18px;
    font-family: "Georgia", serif;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.3s ease;
}

button:hover {
    background-color: #2e4739;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
}

.search-container input {
    width: 420px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    border: 1px solid #a8cab6;
    background-color: #f4f1ea;
    color: #1c2b22;
    outline: none;
}

.search-container input::placeholder {
    color: #6b7a6f;
    letter-spacing: 1px;
}

.search-container button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    background-color: #1c2b22;
    color: #f4f1ea;
    border: 1px solid #1c2b22;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #2e4739;
}